body {
  margin: 0;
  font-family: Arial;
  color: white;

  background-image: url("Mizuki_45_trained_art.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
